<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="MuClipse.TestsLaunchConfigType">
<stringAttribute key="CLASS_CHOICE" value="muse"/>
<stringAttribute key="CLASS_PATH" value="bin"/>
<stringAttribute key="MUTANT_HOME" value="result"/>
<stringAttribute key="SRC_PATH" value="src"/>
<intAttribute key="TESTING_LEVEL" value="3"/>
<stringAttribute key="TESTSET_PATH" value="src"/>
<intAttribute key="TIMEOUT" value="4500"/>
<stringAttribute key="WHICH_TEST" value="maxTest"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/muse/result}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="muse"/>
</launchConfiguration>
